<h1 ng-hide="$ctrl.loggedIn">Please Login</h1>
<h1 ng-show="$ctrl.loggedIn">You have already logged in</h1>

<button class="btn btn-primary" ng-click="$ctrl.anonLogin()" ng-hide="$ctrl.loggedIn">Anonymous</button>

<button class="btn btn-primary" ng-click="$ctrl.emailLogin()" ng-hide="$ctrl.loggedIn">Login</button>

<button class="btn btn-primary" ng-click="$ctrl.createUser()" ng-hide="$ctrl.loggedIn">Register</button>

<br><br>

<div class="alert alert-danger" ng-show="!!$ctrl.errorMessage">{{errorMessage}}</div>