<nav></nav>

<h1>User Preferences</h1>

<form class="form-inline">
    <label for="displayName">Display Name</label>
    <input type="text" id="displayName" class="form-control" placeholder="Display Name" ng-model="$ctrl.userPreferences.displayName">
    <br><br>
    
    <label for="themeColor">Theme Color</label>
    <select name="themeColor" id="themeColor" class="form-control" ng-model="$ctrl.userPreferences.theme" ng-options="theme for theme in $ctrl.themes"></select>
    
    <br><br>
    
    <button class="btn btn-primary btn-sm" ng-click="$ctrl.save()">Save</button>
    <button class="btn btn-primary btn-sm" ng-click="$ctrl.cancel()">Cancel</button>
</form>