<div class="navbar navbar-fixed-top" 
    ng-class="{'navbar-inverse': $ctrl.darkTheme}"
    ng-if="$ctrl.loaded">
    
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Expenses</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
                <li><a href="#/categories">Categories</a></li>
                <li><a href="#/userpref">User Preferences</a></li>
                <li><a href="#/logout">Logout</a></li>
            </ul>
            <ul class="nav navbar-right navbar right">
                <li class="navbar-text">Welcome {{$ctrl.userPreferences.displayName}}</li>
            </ul>
        </div>
    </div>
</div>