<form class="form-inline">
    <input type="text" placeholder="Date" ng-model="$ctrl.date" class="form-control">
    <input type="text" placeholder="Payee" ng-model="$ctrl.payee" class="form-control">
    <input type="text" placeholder="Description" ng-model="$ctrl.desc" class="form-control">
    
    <select class="form-control"
            ng-model="$ctrl.selectedCategory"
            ng-options="category.name for category in $ctrl.categories track by category.$id"></select>
            
    <input type="text" placeholder="Amount" ng-model="$ctrl.amount" class="form-control">
    
    <button class="btn btn-primary btn-sm"
            ng-show="!$ctrl.editing"
            ng-click="$ctrl.create()">Create</button>
    
    <button class="btn btn-primary btn-sm"
            ng-show="$ctrl.editing"
            ng-click="$ctrl.save()">Save</button>
    
    <button class="btn btn-warning btn-sm"
            ng-show="$ctrl.editing"
            ng-click="$ctrl.cancel()">Cancel</button>

</form>